docs/mkdocs/site
init/compileinfo.h
Testing/*
tests/new_pytest_system/work/*
tests/new_pytest_system/failed_test_results/*
tests/new_pytest_system/parser_testdir/*
__pycache__
*~
\#*
build
build.*
*.o
*.x
*.swp
*.pyc
*.mod
tags
.DS_Store
.vscode
