[submodule "external/hdf5-git"]
	path = external/hdf5-git
	url = https://bitbucket.hdfgroup.org/scm/hdffv/hdf5.git
[submodule "external/libxc-git"]
	path = external/libxc-git
	url = https://gitlab.com/libxc/libxc.git
[submodule "docs/katacoda-tutorials"]
	path = docs/katacoda-tutorials
	url = gitlab@iffgit.fz-juelich.de:fleur/katacoda-tutorials.git
