#Default configuration used in case of a toolchain-file
enable_language(Fortran)

set(CMAKE_Fortran_FLAGS "${Fortran_Flags}")

#Check if we have an MPI compiler...
if (NOT DEFINED Fleur_uses_MPI)
if (${CMAKE_Fortran_COMPILER} MATCHES ".*/*mpi.{1,5}$")
       set(Fleur_uses_MPI TRUE)
else ()
       set(Fleur_uses_MPI FALSE)
endif ()
endif()
#we use the LAPACK_LIBS variable for all linker stuff
set(LAPACK_LIBS ${Linker_Flags})

#HDF definitions are used in both serial/parallel case
if (${Fleur_uses_HDF}) 
  add_definitions(-DCPP_HDF)
endif ()
add_definitions(${CPP_Flags})
add_definitions(-DCPP_IO)
