#Makefile for rwth-cluster
set (CMAKE_Fortran_COMPILER "mpiifort")

project(Fleur Fortran)
enable_language(Fortran)

set (Fleur_uses_serial TRUE)
#MPI can be switched off with NO_MPI variable
if (NOT DEFINED ENV{NO_MPI} )
       set(Fleur_uses_MPI TRUE)
else ()
       set(Fleur_uses_MPI FALSE)
endif ()

#Check for HDF5
if ((NOT DEFINED ENV{NO_HDF}) AND (DEFINED ENV{HDF5_ROOT})) 
  set (HDF5_INCL "-I$ENV{HDF5_ROOT}/include")
  set(HDF5_LIBS "-L$ENV{HDF5_ROOT}/lib -lhdf5_fortran -lhdf5 -lz")
  set(Fleur_uses_HDF5 TRUE)
  add_definitions(-DCPP_HDF)
else ()
  message("No hdf support found")
  message("You might want to set HDF5_ROOT")
endif ()


#The Fortran compile flags
set(CMAKE_Fortran_FLAGS "${HDF5_INCL} -mkl -warn nousage -assume byterecl -r8 " )
set(CMAKE_Fortran_FLAGS_RELEASE " -O3 -openmp" )    
set(CMAKE_Fortran_FLAGS_DEBUG   " -O0 -g" )

set(LAPACK_LIBS  "-mkl -lmatmul -openmp -lpthread")

if (DEFINED ENV{SCALAPACK_ROOT})
   set(Fleur_uses_SCALAPACK TRUE)
   set(LAPACK_LIBS "${LAPACK_LIBS} -lmkl_scalapack_lp64 -lmkl_blacs_intelmpi_lp64")
endif() 

if (DEFINED ENV{ELPA_ROOT})
    set(Fleur_uses_ELPA TRUE)
    set(LAPACK_LIBS "${LAPACK_LIBS} -L$ENV{ELPA_ROOT}/lib -lelpa_openmp -lmkl_scalapack_lp64 -lmkl_blacs_intelmpi_lp64 -lstdc++")
    set(CMAKE_Fortran_FLAGS "${CMAKE_Fortran_FLAGS} -I$ENV{ELPA_ROOT}/include")
endif()

if (DEFINED ENV{ELEMENTAL_ROOT})
   set(Fleur_uses_ELEMENTAL TRUE)
   set(LAPACK_LIBS "${LAPACK_LIBS} fleur_elemental.o -L$ENV{ELEMENTAL_ROOT}/lib -lelemental -lpmrrr -llapack-addons -lstdc++") 
endif()



add_definitions(-DCPP_IO -DCPP_DOUBLE -DCPP_APC)

