#Makefile juqueen
set (CMAKE_Fortran_COMPILER "mpixlf2003_r")

project(Fleur Fortran)
enable_language(Fortran)

set (Fleur_uses_serial FALSE)
#MPI can be switched off with NO_MPI variable
if (NOT DEFINED ENV{NO_MPI} )
       set(Fleur_uses_MPI TRUE)
else ()
       set(Fleur_uses_MPI FALSE)
endif ()

#Check for HDF5
if ((NOT DEFINED ENV{NO_HDF}) AND (DEFINED ENV{HDF5_ROOT})) 
  set (HDF5_INCL "-I$ENV{HDF5_ROOT}/include")
  set(HDF5_LIBS "${HDF5_ROOT}/lib/libhdf5_fortran.a;${HDF5_DIR}/lib/libhdf5.a;/bgsys/local/zlib/lib/libz.a;/bgsys/local/szip/lib/libszlib.a")
  set(Fleur_uses_HDF5 TRUE)
  add_definitions(-DCPP_HDF)
else ()
  message("No hdf support found")
  message("You might want to set HDF5_ROOT")
endif ()


#The Fortran compile flags
set(CMAKE_Fortran_FLAGS "${HDF5_INCL} -qarch=qp -qtune=qp -qrealsize=8 -qfixed -qsuppress=1520-022" )
set(CMAKE_Fortran_FLAGS_RELEASE "-O4 -qsmp=omp -qnosave -qessl -qsuppress=1500-036" )    
set(CMAKE_Fortran_FLAGS_DEBUG   "-O0 -g" )

set(LAPACK_LIBS "-L/bgsys/local/lapack/3.3.0_g/lib -llapack  -L/bgsys/local/lib -qessl -lesslsmpbg")

if (DEFINED ENV{SCALAPACK_ROOT})
   set(Fleur_uses_SCALAPACK TRUE)
   set(LAPACK_LIBS "-L${SCALAPACK_ROOT}/lib -lscalapack ${LAPACK_LIBS}")
endif() 

if (DEFINED ENV{ELPA_ROOT})
    set(Fleur_uses_ELPA TRUE)
    set(LAPACK_LIBS "-L$ENV{ELPA_ROOT}/lib -lelpa -lscalapack ${LAPACK_LIBS}")
    set(CMAKE_Fortran_FLAGS "${CMAKE_Fortran_FLAGS} -I$ENV{ELPA_ROOT}/elpa_include")
endif()

if (DEFINED ENV{ELEMENTAL_ROOT})
   set(Fleur_uses_ELEMENTAL TRUE)
   set(LAPACK_LIBS " fleur_elemental.o -L$ENV{ELEMENTAL_ROOT}/lib -lelemental -lpmrrr -llapack-addons ${LAPACK_LIBS} -lstdc++") 
endif()



add_definitions(-DCPP_IO -DCPP_DOUBLE -DCPP_AIX)

